table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5;
  // font-size: 1.125rem;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 12px;
        line-height: 1.2;
        vertical-align: top;
        border-top: 1px solid #333;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #333;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid #333;
  }
}

td .anchor {
  display: float;
  margin: auto;
  margin-right: -20px;
  -webkit-transform: translateX(-30px); /* 10px to left */
  -moz-transform: translateX(-30px); /* 10px to left */
  -ms-transform: translateX(-30px); /* 10px to left */
   transform: translateX(-30px); /* 10px to left */
}
